[submodule "ckoch786/sharper"]
	path = ckoch786/sharper
	url = https://github.com/ckoch786/sharper.git
[submodule "site-lisp/ckoch786/sharper"]
	path = site-lisp/ckoch786/sharper
	url = https://github.com/ckoch786/sharper.git
[submodule "site-lisp/ckoch786/csharp-mode"]
	path = site-lisp/ckoch786/csharp-mode
	url = https://github.com/ckoch786/csharp-mode.git
